#ignore netbeans project
nbproject

#ignore system folders content
www/assets/*
www/files/*
www/protected/runtime/*
#*.orig files created by kdiff3 after merge
*.orig
#*.bak files
*.bak
.DS_Store
# exclude .gitignore files
!.gitignore
